<h2>User info</h2>
 <% @post_images.each do |user| %>
 
  <% if user.image.attached? %>
    <%= image_tag user.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
  
  <%= f.file_field :image, accept: "image/*" %>
  
  <%= link_to edit_user, class: "nav-link text-light" do %>
     <p><i class="fas fa_user_cog"></i></p>
  <% end %>
 <% end %>

<table class="table">
  <tbody>
    <tr>
	    <th>name</th>

    </tr>
    <tr>
	    <th>introduction</th>
	    
	  </tr>
  </tbody>
</table>
 
 <h2>New book</h2>
<!-- form_with部分 -->
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
	
    <h4>Opinion</h4>
    <%= f.text_area :body %><br>
	
    <%= f.submit 'Create Book' %>
  <% end %>

<div class="container">
<h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td><a>タイトル</a></td>
          <td>説明</td>
            <td><a class="btn btn-sm btn-success edit_book_33880" href="/books/33880/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_33880" rel="nofollow" data-method="delete" href="/books/33880">Destroy</a></td>
      </tr>
  </tbody></table>
</div>